Hello [[ project_name ]]!

Oh, now we're adding a new variable: [[ new_variable ]]
Uh oh, here's a line in between these lines. [[ yet_another_variable ]]
But wait, there's more: [[ yet_another_variable ]]
